@model IEnumerable<Domain.Game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Practises</h2>

@{Html.RenderAction("OneHundredAndSeventyOverView", "Game");} 
@{Html.RenderAction("AroundTheWorldOverView", "Game");} 
    
<p>
    @Html.ActionLink("Start new game", "Start")
</p>
